{{>partials/header}}

<div class="delete-confirm">
    <h2>Deseja Deletar?</h2>
    
    <fieldset>
        <form method="POST" action="/arquivodelete/{{id}}?_method=DELETE">
            <button type="submit" class="btn-danger">Deletar</button>
        </form>
    </fieldset>

    <a href="/arquivosprocessos/{{idProcess}}">
        <button type="button" class="btn-secondary">Cancelar</button>
    </a>
</div>

{{>partials/footer}}