{{>partials/header}}
Deseja Deletar ?
<hr/>
<fieldset>
<form method="POST" action="/deletarcliente/{{id}}?_method=DELETE">
<button type="submit">Deletar</button> 
</form>
</fieldset>
<hr/>
<form action="/cliente/{{id}}">
    <button type="submit">Cancelar</button>
</form>



{{>partials/footer}}