{{>partials/header}}

<h2>cliente ja cadatrado com esse cpf</h2>

<p>obs: Caso queira cadastrar um novo processo em um cliente que ja existe,
 vá em vizualizar clientes e clique na opcao "Cadastrar Outro Processo"</p>

<a href ="/">
<button type="submit">Voltar</button>
</a>

{{>partials/footer}}