{{>partials/header}}

<div class="error-page">
    <h2>Cliente já cadastrado com esse CPF</h2>

    <p>Obs: Caso queira cadastrar um novo processo em um cliente que já existe,
    vá em "Visualizar Clientes" e clique na opção "Novo Processo"</p>

    <a href="/">
        <button type="button" class="btn-secondary">Voltar</button>
    </a>
</div>

{{>partials/footer}}