{{>partials/header}}


<p class="date-info">Data de Hoje: {{day}} de {{currentMonth}} - {{weekDay}}</p>

<div class="eventos-container">
    <h2>Eventos Próximos (dias {{day}} - {{lastDay}})</h2>
    <ul>
    {{#clientes}}
        <li>
            {{#dia_pagamento}}
            <strong>{{nome_completo}} {{numero_processo}}</strong> - 
            Pagamento Dia: {{dia_pagamento}} {{semana_pagamento}}
            {{/dia_pagamento}}

            {{#dia_audiencia}}
            <strong>{{nome_completo}} {{numero_processo}}</strong> -
            Audiência Dia: {{dia_audiencia}} Horário: {{hora_audiencia}}:{{minuto_audiencia}} {{semana_audiencia}}
            {{/dia_audiencia}}

            {{#dia_protocolo}}
            <strong>{{nome_completo}} {{numero_processo}}</strong> - Protocolo Dia: {{dia_protocolo}} {{semana_protocolo}}
            {{/dia_protocolo}}

            {{#dia_contestacao}}
            <strong>{{nome_completo}} {{numero_processo}}</strong> - Contestação Dia: {{dia_contestacao}} {{semana_contestacao}}
            {{/dia_contestacao}}

            {{#dia_alegacoes}}
            <strong>{{nome_completo}} {{numero_processo}}</strong> - Alegações Dia: {{dia_alegacoes}} {{semana_alegacoes}}
            {{/dia_alegacoes}}

            {{#dia_recurso}}
            <strong>{{nome_completo}} {{numero_processo}}</strong> - Recurso Dia: {{dia_recurso}} {{semana_recurso}}
            {{/dia_recurso}}

            {{#dia_sentenca}}
            <strong>{{nome_completo}} {{numero_processo}}</strong> - Sentença Dia: {{dia_sentenca}} {{semana_sentenca}}
            {{/dia_sentenca}}

            {{#dia_transito}}
            <strong>{{nome_completo}} {{numero_processo}}</strong> - Trânsito Dia: {{dia_transito}} {{semana_transito}}
            {{/dia_transito}}
        </li>
    {{/clientes}}
    </ul>
</div>

<div class="action-buttons">
    <form action="/vizualizarclientes">
        <button type="submit">Visualizar Clientes</button>
    </form>

    <form action="/addcliente">
        <button type="submit">Adicionar Cliente</button>
    </form>

    <a href="/calendario">
        <button type="button">Calendário</button>
    </a>
</div>

{{>partials/footer}}