{{>partials/header}}
<h2>Login</h2>

<form method="POST" action="/login">
    <input type ="text" id="email" name="email" placeholder="email">
    <input type ="text" id="senha" name="senha" placeholder="senha">
    <button type="submit">Confirmar</button>
</form>


</div>
</body>
</html>