{{>partials/header}}
<h2>Configurações da Reuniao</h2>

            <a href ="/deletarreuniao/{{id}}">
            <button type="button">Deletar</button>
            </a>

            <a href ="/editarreuniao/{{id}}">
            <button type="button">Editar</button>
            </a>

            <a href = "/calendario">
            <button type="button">Voltar</button>
            </a>



{{>partials/footer}}